<label for="groups">Groups</label>

<select name="groups" id="cars">
  <option value="Group1">Group1</option>
  <option value="Group2">Group2</option>
  <option value="Group3">Group3</option>
  <option value="Group4">Group4</option>
</select>

<button class="accountButton" type="button">Account</button>

<h1>Prizes</h1>

<label for="groups">Groups</label>
<select name="postColor" id="post">
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<select name="borderColor" id="border">
  <option value="white">White</option>
  <option value="black">Black</option>
</select>

<div id="profilePic"></div>
<ul>
    <li><input type="checkbox">Picture</li>
    <li><input type="checkbox">Picture</li>
 <ul>