<main>
    <h1 class="page-title">Accounts Page</h1>
    <p class="description">Keep track of your achievements through all your groups, with the Accounts page!</p>
    <h2 class="accounts-total-rewards">TOTAL REWARDS: {{totalRewards}}</h1>
    <h2 class="accounts-total-tasks">TOTAL COMPLETED TASKS: {{totalCompletedTasks}}</h2>
    {{#if error}}
        <p class="error"> Error: {{error}} </p>
    {{/if}}
</main>
