<main>
    <header>
        <h1 class="page-title">Accounts Page</h1>
        <nav>
            <button id="profile-page" onclick="location.href='/user/privateUser/'" type="button">Profile Page</button>
        </nav>
    </header>

    <p class="description">Keep track of your achievements through all your groups, with the Accounts page!</p>
    <h2 class="accounts-total-rewards">TOTAL REWARDS: {{totalRewards}}</h1>
    <h2 class="accounts-total-tasks">TOTAL COMPLETED TASKS: {{totalCompletedTasks}}</h2>
    {{#if error}}
        <p class="error"> Error: {{error}} </p>
    {{/if}}
</main>
