<main>
    <header>
        <h1 id="accounts-title">Accounts Page</h1>
        <nav>
            <a href="/user/privateUser/{{userId}}" id="accounts-profile-link">Profile Page</a>
        </nav>
        <h2>Username: {{Username}}</h2>
    </header>
    
    <div class="join-group-block">
        <h2 id="accounts-join-group-title">Join Group</h2>
        <form id="accounts-join-group-form">
            <label for="join-group-id">Group Id</label>
            <input type="text" id="join-group-id">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="create-group-block">
        <h2 id="accounts-create-group-title">Create Group</h2>
        <form action="/kanban/createKanban" id="accounts-create-group-form" method="POST">
            <h3>Group Name</h3>
            <label for="groupName">Group Name</label>
            <input type="text" id="groupName" name="groupName">
            <button type="submit" id="">Submit</button>
        </form>
    </div>
</main>