<main>
    <h1 id="accounts-title">Create or Join a Kanban Group</h1>
    <div id="accountsHeader">
            <h2>Username: {{username}}</h2>
            <nav>
                <a href="/user/privateUser" id="accounts-profile-link">Profile Page</a>
            </nav>
            {{#if error}}
            <p class="error" id="accounts-page-error">{{error}}</p>
            {{/if}}
    </div>

    
    
    <div class="join-group-block">
        <h2 id="accounts-join-group-title">Join Group</h2>
        <form id="accounts-join-group-form" action="/kanban/createKanban/joinGroup" method="POST">
            <label for="groupId">Group Id</label>
            <input type="text" id="groupId" name="groupId" placeholder="Kanban Id can be located on the group Kanban Board">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="create-group-block">
        <h2 id="accounts-create-group-title">Create Group</h2>
        <form id="accounts-create-group-form" action="/kanban/createKanban/createGroup" method="POST">
            {{!-- <h3>Group Name</h3> --}}
            <label for="groupName">Group Name</label>
            <input type="text" id="groupName" name="groupName">
            <button type="submit" id="">Submit</button>
        </form>
    </div>

    <div class="logout-button" id="logout-button">
        <button onclick="window.location.href='/logout';">Logout</button>
    </div>
</main>

