<div class="container">
        <a href="/kanban"><button id="back-to-kanban">Back To Kanban</button></a>
        <div class="points-section">
            <p id="points-text">Points:</p>
            <span id="points-num"></span>
        </div>

        
        <div class="prizes">
            <h1>Prizes</h1>
            <div class="prize-selection">

            </div>
        </div>

        <div class="pull-prize">
            <button id="back-to-kanban" onclick="pullPrize()">PULL</span></a>
        <div class="points-section">
        
</div>
