<main>
      <a href="/kanban"><button id="back-to-kanban">Back To Kanban</button></a>
      <div class="points-section">
          <p id="points-text">Points:</p>
          <span id="points-num">{{Points}}</span>
      </div>

      <div class="parentPrize">
      <div class="prizes">
            <label for="prizeForm">Prizes</p>
            <form name="prizeForm" action="/submit" method="POST">
                <div class="prize-selection">
             
                    <select name="chooseprize" id="chooseprize">
                    <option>{{this}}</option>
                    </select>
                
                </div>
                <input type="submit" value="submit"/>
            </form>
        </div>


        <div class="pull-prize">
            <button id="pull-prize-button" onclick="pullPrize()">PULL</span></a>
        <div class="points-section">
      </div>
      
</main>