<main>
    <header>
        <h1 id="landingPageHeader">Landing Page</h1>
        <p class="description">Welcome to "G-A-M-E-P-L-A-N"! We're an collaborative gamified Kanban board to LEVEL UP your productivity.</p>
        <nav>
            <button onclick="window.location.href='/login';">Login</button>
            <button onclick="window.location.href='/signup';">SignUp</button>
        </nav>
    </header>
    <article class="usage">
        <h2 class="usage-title">Getting start</h2>
        <p class="tutorial-start">Getting started is easy!</p>
        <ul class="tutorial-step">
            <li id="step1">Step 1: If you haven't already, register your account using the signup link!</li>
            <li id="step2">Step 2: Once you're signed up / logged in, we'll whisk you away to our signup page. Here you can join a group using its signup code, or make your own group!</li>
            <li id="step3">Step 3: Once you've created a group, you'll be taken to the group's kanban page. Here you can make new tasks, and reorder them into the categories you like. Just drag and drop!</li>
            <li id="step3+">Step 3+: If you're having trouble getting to the kanban page, you can always access it through the "profile" page, accessible on the create kanban and kanban pages.</li>
            <li id="step4">Step 4: Now you've finally done your work, you want to get rewarded. Drag your task to review, group members will validate your work with votes and if its approve you'll get sweet reward points. Yay ~Democracy~!</li>
            <li id="step5">Step 5: Time to spend your points! Click the gatcha link on the kanban page, and PLAY the game. Rewards can be equipted on the profile page.</li>
        </ul>
        <h3>HAVE FUN! :P</h3>
        </p>
    </article>
</main>