<div class="container" id="loginContainer">
<h1>Login</h1>
  <form action="/login" class="loginForm" id="loginForm" method="POST">
  
    <div class="input_fields">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" >
    </div>
    
    
    <div class="input_fields">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" >
    </div>

    <input type="submit" value="Login">
  </form>
<div id="loginError" class="loginError" hidden></div>
    {{#if LoginErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}


  <div class="goToSignUp">
    <a href="/signup">Click here to signup!</a>
  </div>
</div>


