<div class="container" id="signUpContainer">
<h1>Sign up</h1>
  <form action="/signup" class="signUpForm" method="POST">
    <div class="input_fields">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    

    <div class="input_fields">
      <label for="age">Age</label>
      <input type="text" id="age" name="age" placeholder="Age" required>
    </div>

    <div class="input_fields">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    
    <div class="input_fields">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
    </div>
    <input type="submit" value="Signup">
  </form>
  <div id="signupError" class="signupError" hidden></div>
      {{#if SignupErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  <div class="goToLogin">
    <a href="/login">Back to login!</a>
  </div>
</div>